<div class="row">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Device groups</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Add New</legend>
                    <div class="form-group">
                        <label class="col-lg-1 control-label" for="focusedInput">ID</label>
                        <div class="col-lg-1">
                            <input class="form-control" id="focusedInput" type="text" value="0, 1, 2">
                        </div>
                        <label class="col-lg-2 control-label" for="focusedInput">Name</label>
                        <div class="col-lg-3">
                            <input class="form-control" id="focusedInput" type="text" value="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>