@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/plugins/bootstrap/js/bootstrap.js"></script>
<script src="~/Scripts/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/plugins/node-waves/waves.js"></script>
<script src="~/Scripts/plugins/jquery-countto/jquery.countTo.js"></script>
<script src="~/Scripts/plugins/raphael/raphael.min.js"></script>
<script src="~/Scripts/plugins/morrisjs/morris.js"></script>
<script src="~/Scripts/plugins/raphael/raphael.min.js"></script>
<script src="~/Scripts/plugins/morrisjs/morris.js"></script>
<script src="~/Scripts/plugins/chartjs/Chart.bundle.js"></script>
<script src="~/Scripts/plugins/flot-charts/jquery.flot.js"></script>
<script src="~/Scripts/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="~/Scripts/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="~/Scripts/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="~/Scripts/plugins/flot-charts/jquery.flot.time.js"></script>
<!-- Sparkline Chart Plugin Js -->
<script src="~/Scripts/plugins/jquery-sparkline/jquery.sparkline.js"></script>
<!-- Custom Js -->
<script src="~/Scripts/admin.js"></script>
<script src="~/Scripts/index.js"></script>

<!-- content -->
<!-- Widgets -->
<div class="row clearfix">
   <iframe width="1200" height="650" src="https://app.powerbi.com/reportEmbed?reportId=fb09638c-94c4-4c27-8f1e-122442d0aba7&autoAuth=true&ctid=a2a19cdb-8c80-4ffe-b575-c4db89d2eeaf&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldCJ9" frameborder="0" allowFullScreen "true"></iframe>
</div>


