<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("Devices", "Index", "Tables")
        @Html.MenuItem("Device Groups", "DeviceGroups", "Tables")
        @Html.MenuItem("Telemetries", "Telemetries", "Tables")
        <li><a href="#">Administration</a></li>
    </ul>
</div>

